<div class="container">
    <h2>Submit Order</h2>
    <form [formGroup]="form" (ngSubmit)="submitOrder(form.value)">
        <ng-container formArrayName="products">
            <table class="product-attribute">
                <thead>
                    <tr class="details-title">
                        <th></th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let product of products.controls; let i = index">
                        <tr [formGroupName]="i">
                            <td>{{ i + 1 }}</td>
                            <td>
                                <input class="general-field" type="text" maxlength="25" formControlName="name" />
                            </td>
                            <td>
                                <input class="general-field" type="text" maxlength="25" formControlName="category" />
                            </td>
                            <td>
                                <input class="general-field" type="number" formControlName="quantity" />
                            </td>
                            <td>
                                <input class="general-field" type="number" formControlName="price" />
                            </td>
                            <td class="general-field">{{ calculateProductTotal(i) }}</td>

                            <td class="remove-product-btn">
                                <button type="button" (click)="deleteProduct(i)">Delete</button>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </ng-container>
        <button class="add-product-btn" type="button" (click)="addProduct()">Add Product</button>
        <div class="purchase-btn">
            <div class="total-price">Total Price: EGP {{ calculateTotalPrice() }}</div>
            <button type="submit" [disabled]="!form.valid || products.length < 1 || processingRequest">Purchase</button>
        </div>
    </form>
</div>

<nav>
    <a href="home">Home</a>
    <a href="buying/details">Buying Details</a>
    <a href="buying/summary">Buying Summary</a>
    <a href="selling/details">Selling Details</a>
    <a href="selling/summary">Selling Summary</a>
</nav>