<div class="container">
    <h2>Submit Order</h2>
    <form [formGroup]="form" (ngSubmit)="submitOrder(form.value)">
        <ng-container formArrayName="products">
            <ng-container *ngFor="let product of products.controls; let i = index">
                <div [formGroupName]="i">
                    <ul>
                        <li>
                            <label>Name</label>
                            <input type="text" formControlName="name" />
                        </li>
                        <li>
                            <label>Quantity</label>
                            <input type="number" formControlName="quantity" />
                        </li>
                        <li>
                            <label>Price</label>
                            <input type="number" formControlName="price" />
                        </li>
                        <li>
                            <label>Category</label>
                            <input type="text" formControlName="category" />
                        </li>
                        <div>
                            <button type="button" (click)="deleteProduct(i)">Delete</button>
                        </div>
                    </ul>
                </div>
            </ng-container>
        </ng-container>
        <button type="button" (click)="addProduct()">Add Product</button>
        <button type="submit" [disabled]="!form.valid || products.length < 1">Purchase</button>
    </form>
</div>